.App {
  margin: 0;
}

.container-fluid {
	padding-right: 0 !important;
}
#paulYatim {
	width: 90% !important;
	margin: 50px !important;
}

.link {
	/* text-decoration: none; */
	color: #eeeeee;
}

.nav-layer {
	z-index: 10;
	height: min-content !important;
}

.navbar {
  height: 10vh;
  background-color: #000000; }

.nav-link {
  color: #eeeeee; 
  cursor: pointer;
}

.navbar-toggler {
  border: none;
  margin: 0 auto; }

.navbar-nav {
  margin: 10px auto; }

.nav-item {
  margin: 0 3vw;
  text-align: center; }

.container-fluid {
  color: #eeeeee;
  display: flex; }

.heroImage {
  text-align: center;
}
.heroImage img {
  width: inherit;
}

h1 {
	font-size: 200px !important;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro {
  height: 100vh;
  padding: 0;
  justify-content: center;
}


.bg-image {
	width: 40% !important;
}

.section-lg {
  width: 100vw;
  z-index: 1;
  /* padding-top: 10vh; */
  /* padding-right: 5vw !important; */
} 

.scroll-section {
  text-align: center;
  align-self: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column; }
  .scroll-section span {
    color: #4fcc8a; } 
.scroll-section h3 {
  font-size: 36px;
  font-weight: bold;
  margin: 50px 0;
}
.scroll-section h2 {
  font-size: 36px;
  color: #4fcc8a;
  font-weight: bold;
}
.section-top {
  align-self: auto;
  padding-top: 12vh;
  background-color: #000000;
  height: min-content;
}


.top3 {
  /* background-color: #4fcc8a; */
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}
.top3 li {
  text-decoration: none;
  width: 100%;
  padding: 5px;
}
.top3 img {
  width: 80%;
}

.top3 h4 {
  font-size: 8vw;
  font-weight: bold;
}

#albumes {
  display: flex;
  flex-direction: column;
}
#albumes li {
  height: 20vh;
}
#albumes iframe {
  width: inherit;
  height: inherit;
}

.PL-sticky {
  z-index: 2;
  height: min-content !important;
}
.PL-child {
  z-index: 1;
  /* height: min-content !important; */
  display: flex;
  flex-direction: column;
  gap: 50vh;
  align-items: flex-start;
}

.video {
  width: 80%;
  height: 25vw;
  margin: 0 auto;
}

.scroll-section h5 {
	font-size: 16px;
	font-weight: bold;
	color: #4fcc8a;
}

.proj-description .tags {
	margin-top: 3vh;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 20px;
}
.tags span {
	background-color: #4fcc8a;
	color: #000000;
	padding: 10px 20px;
	border-radius: 24px;
	font-size: 16px;
	font-weight: bold;
}
.proj-description p{
	margin-top: 3vh;
	text-align: left;
}

#projsDesarrollo {
	gap: 60vh;
}


.bg-back, .bg-front {
	background-size: contain !important;
	background-repeat: no-repeat !important;
	/* background-color: rgba(115, 125, 130, 0.4); */
}

.bg-front {
	z-index: 7;
}
.bg-front img {
	width: 100%;
}

#bgBack1 {
	background-image: url(./assets/bg-back-1.png);
}
#bgBack2 {
	background-image: url(./assets/bg-back-2.png);
}


#bgFront1 {
	width: 43% !important;
}
#bgFront2, #bgFront3, #bgFront4, #bgFront5, #bgFront6, #bgFront7, #bgFront8 {
	width: 44% !important;
}



/* iframe mockup de laptop */
/* https://codepen.io/devindavid/pen/poeaxEb */

.mbp-mockup-wrapper {
	width: 85%;
	max-width: 1280px;
	min-width: 320px;
	margin: 10px auto 20px;
	height: auto;
	align-self: flex-start;
	position: relative;
	display: flex;
}
.mbp-container {
	position: relative;
	width: 100%;
	max-width: 1280px;
	min-width: 320px;
	height: auto;
	padding-top: 58.6%;
	margin: 0 auto;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
}
.mbp-display {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	width: 81.3%;
	height: 95.2%;
	margin: 0 auto;
	background-image: radial-gradient(#cfd0d1, #cfd0d1, #adadae);
	border: 1px solid #e5e7e9;
	border-radius: 3.1% / 4%;
	z-index: 1;
}
.mbp-display .display-edge {
	display: block;
	position: relative;
	width: 99.37%;
	height: 99.25%;
	margin: 0.3% auto;
	z-index: 2;
	background-color: #262626;
	border-radius: 2.75% / 3.8%;
}
.mbp-display .display-edge .bezel {
	display: block;
	position: relative;
	width: 99.5%;
	height: 99.2%;
	margin: auto;
	top: 0.4%;
	border-radius: 2.8% / 3.2%;
	z-index: 3;
	background-color: #010101;
}
.mbp-display .bezel:after {
	content: '';
	display: none;
	position: absolute;
	right: 0.15%;
	top: 0.3%;
	width: 62.5%;
	height: 100%;
	pointer-events: none;
	-webkit-border-top-right-radius: 3.5% 3%;
	-moz-border-radius-toptight: 3.5% 3%;
	border-top-right-radius: 3.5% 3%;
}
.mbp-display.with-glare .bezel:after {
	display: block;
}
.mbp-display .display-edge .bezel .display-camera {
	width: .62%;
	height: .95%;
	margin: 1% auto;
	left: 0;
	right: 0;
	position: absolute;
	border-radius: 50%;
	z-index: 5;
	background-color: #303132;
}
.mbp-display .display-edge .bezel .display-frame {
	display: block;
	position: absolute;
	width: 97.65%;
	height: 89.5%;
	margin: 0 auto;
	top: 3.5%;
	left: 0;
	right: 0;
	background-color: #151515;
	overflow-x: hidden;
}
.mbp-display .display-frame iframe {
	left: 0;
	top: 0;
	position: absolute;
	width: 300%;
	height: 300%;
	border: 0;
	-moz-transform: scale(0.33);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.33);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.33);
	-webkit-transform-origin: 0 0;
	transform: scale(0.33);
	transform-origin: 0 0;
}
.mbp-display .display-edge .bezel .below-display {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 4.9%;
	bottom: .15%;
	z-index: 3;
	background-color: #212121;
	border-bottom-right-radius: 2.5% 70%;
	border-bottom-left-radius: 2.5% 70%;
}
.mbp-display .display-edge .bezel .below-display .macbookpro {
	display: block;
	position: relative;
	width: 7.4%;
	height: 32%;
	margin-top: .5%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.mbp-keyboard {
	width: 99.75%;
	height: 7.6%;
	margin: 0 auto;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	z-index: 100;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.mbp-keyboard .front {
	/* 	opacity:0; */
	width: 100%;
	height: 37.25%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
	background: linear-gradient( 90deg, #68696b 0%, #757678 .15%, #a0a1a3 .3%, #cccdcf .5%, #e7e8ea .8%, #e8e9eb 1%, #dfe0e2 1.25%, #d1d2d4 1.5%, #adaeb0 2%, #a4a5a7 3%, #bbbdbf 4%, #e1e1e3 8%, #eaebed 15%, #e9eaec 25%, #e9eaec 75%, #eaebed 85%, #e1e1e3 92%, #bbbdbf 96%, #a4a5a7 97%, #adaeb0 98%, #d1d2d4 98.5%, #dfe0e2 98.75%, #e8e9eb 99%, #e7e8ea 99.2%, #cccdcf 99.5%, #a0a1a3 99.7%, #757678 99.85%, #68696b 100%);
	z-index: 100;
	border-radius: 1px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.mbp-keyboard .opener-left {
	position: relative;
	width: 6.917%;
	height: 65.5%;
	z-index: 101;
	border-radius: 0 0 0 20px;
	background-color: #c1c2c6;
	background: linear-gradient(180deg, rgba(195, 198, 200, 0.5) 0%, rgba(199, 200, 204, 0.5) 60%, rgba(115, 125, 130, 0.4) 100%), radial-gradient(circle at right, rgba(189, 190, 193, 0.5) 0%, rgba(189, 190, 193, 0.5) 50%, rgba(166, 169, 172, 0.5) 80%, rgba(30, 34, 40, 0.75) 100%);
	background-blend-mode: darken;
}
.mbp-keyboard .opener-right {
	position: relative;
	width: 6.917%;
	height: 65.5%;
	z-index: 101;
	border-radius: 0 0 20px 0;
	background-color: #c1c2c6;
	background: linear-gradient(180deg, rgba(195, 198, 200, 0.5) 0%, rgba(199, 200, 204, 0.5) 60%, rgba(115, 125, 130, 0.4) 100%), radial-gradient(circle at left, rgba(189, 190, 193, 0.5) 0%, rgba(189, 190, 193, 0.5) 50%, rgba(166, 169, 172, 0.5) 80%, rgba(30, 34, 40, 0.75) 100%);
	background-blend-mode: darken;
}
.mbp-keyboard .bottom-left {
	display: block;
	position: relative;
	width: 50%;
	height: 58%;
	top: 10%;
	z-index: 99;
	background: linear-gradient(180deg, #e5e6e9 0%, #909193 65%, #4e4f51 90%, #323234 96%, #29292b 100%);
	border-bottom-left-radius: 25% 60%;
}
.mbp-keyboard .bottom-right {
	display: block;
	position: relative;
	width: 50%;
	height: 58%;
	top: 10%;
	z-index: 99;
	background: linear-gradient(180deg, #e5e6e9 0%, #909193 65%, #4e4f51 90%, #323234 96%, #29292b 100%);
	border-bottom-right-radius: 25% 60%;
}
.mbp-shadow {
	width: 95%;
	height: 60%;
	display: flex;
	justify-content: center
}
.mbp-shadow .shadow-left {
	display: block;
	position: relative;
	width: 50%;
	height: 100%;
	top: 10%;
	z-index: 90;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(8, 11, 17, .85) 2.5%, rgba(29, 32, 36, .4) 15%, rgba(255, 255, 255, 0) 50%);
	filter: blur(2px);
	background-blend-mode: multiply;
	border-top-left-radius: 20% 90%;
}
.mbp-shadow .shadow-right {
	display: block;
	position: relative;
	width: 50%;
	height: 100%;
	top: 10%;
	z-index: 90;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(8, 11, 17, .85) 2.5%, rgba(29, 32, 36, .4) 15%, rgba(255, 255, 255, 0) 50%);
	filter: blur(2px);
	background-blend-mode: multiply;
	border-top-right-radius: 20% 90%;
}
